.test-board {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: $gray;
  z-index: 999;
  overflow-y: auto;

  @include animation(fadeIn .5s);
}

.test-board__content {
  display: none;
}

.test-board__wrapper {
  box-sizing: border-box;
  padding: rem(20px) rem(80px);
  margin: 0 auto;
  max-width: 780px;
}

.test-board__close-button {
  position: fixed;
  top: 0;
  right: 0;
  font-size: rem(75px);
  line-height: rem(75px);
  padding: 0;
  width: rem(100px);
  height: rem(75px);
  border: 0;
  outline: none;
  color: $black;

  @include transition(color .25s);
}

.test-board__close-button:hover {
  color: $orange;
}

.test-board__logs {
  padding: rem(25px) 0 0 0;
  margin: rem(25px) 0 0 0;
  border-top: 1px dotted $gray-strong;
}

.test-board__logs li {
  list-style: none;
  list-style-position: inside;
  font-size: rem(21px);
  font-weight: 400;
  line-height: rem(27px);
  letter-spacing: rem(1px);
}
