.intro::after {
  position: absolute;
  content: "";
  border: 0;
  width: rem(60px);
  height: rem(60px);
  left: 50%;
  bottom: 0;
  margin-left: rem(-36px);
  background:
    url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEwMCAxMDAiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cG9seWdvbiBmaWxsPSIjMDEwMTAxIiBwb2ludHM9IjIzLjEsMzQuMSA1MS41LDYxLjcgODAsMzQuMSA4MS41LDM1IDUxLjUsNjQuMSAyMS41LDM1IDIzLjEsMzQuMSAiLz48L3N2Zz4=)
    no-repeat
    left center;

  @include transform(translateZ(0));
  @include animation(bounce 1.5s infinite);
}

.intro .wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  max-width: inherit;
  max-height: inherit;

  @include transform(translateY(-50%));
}

.intro .title,
.intro .subtitle,
.intro .description {
  text-align: center;
}
