section(id='about' class='section about')
  div(class='wrapper')
    h1(class='title') O que é?

    p(class='description')
      | Um torneio de codificação durante a BrazilJS 2015, promovido pela Globo.com.
      | O jogo de tabuleiro escolhido é o Ligue 4 ou Connect Four(em inglês).

    p(class='description')
      | Cada participante submete um código que implementa um jogador virtual que
      | disputará partidas contra todos os outros participantes.

    p(class='description')
      | Ao final, usando um sistema similar a campeonatos de futebol, o melhor
      | classificado irá ganhar um Amazon Kindle Paperwhite, entregue ao final do
      | evento.

    p(class='description')
      | Veja o regulamento para maiores detalhes do formato da competição, ou converse com
      | a gente no stand da Globo.com

    form(class='editor')
      a(class='button block-button' title='Participe através do Github' href='/playground') Participe através do github

    div(id="ranking-game" class="game-board" data-interval=".5" data-rows="6" data-columns="7" data-players="true")
