title='Ligue Quatro - | #{ title }'

meta(charset='UTF-8')
meta(name='viewport', content='initial-scale=1, width=device-width')

link(href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet')
link(href='styles/main.css', rel='stylesheet')
