section(id="ranking" class="section ranking")
  div(class="wrapper")
    h1(class="title") Classificação

    p(class="description")
      | A classificação é gerada de tempos em tempos. Quando isso acontece,
      | todos os atuais algoritmos irão se enfrentar e o resultado das partidas anteriores serão zerados.
      | Após a execução das partidas entre todos os algoritmos, a classificação dos jogadores será atualizada.