section(id="ranking" class="section ranking")
  div(class="wrapper")
    h1(class="title") Classificação

    p(class="description")
      | A classicação é regerada de tempos em tempos, quando um número de novas
      | submissões é atingido, todas as partidas que envolvam participantes que
      | submeteram novos códigos serão zeradas e executadas novamente substituindo o
      | resultado anterior.

    table(class="leader-board")
      tr
        td(class="leader-board__position") #1
        td(class="leader-board__player") Evandro Eisinger
        td(class="leader-board__score") 120 pt's
      tr
        td(class="leader-board__position") #2
        td(class="leader-board__player") Evandro Eisinger
        td(class="leader-board__score") 112 pt's
      tr
        td(class="leader-board__position") #3
        td(class="leader-board__player") Evandro Eisinger
        td(class="leader-board__score") 100 pt's
      tr
        td(class="leader-board__position") #4
        td(class="leader-board__player") Evandro Eisinger
        td(class="leader-board__score") 112 pt's
      tr
        td(class="leader-board__position") #5
        td(class="leader-board__player") Evandro Eisinger
        td(class="leader-board__score") 100 pt's
      tr
        td(class="leader-board__position") #6
        td(class="leader-board__player") Evandro Eisinger
        td(class="leader-board__score") 112 pt's
      tr
        td(class="leader-board__position") #7
        td(class="leader-board__player") Evandro Eisinger
        td(class="leader-board__score") 100 pt's
      tr
        td(class="leader-board__position") #8
        td(class="leader-board__player") Evandro Eisinger
        td(class="leader-board__score") 100 pt's
      tr
        td(class="leader-board__position") #9
        td(class="leader-board__player") Evandro Eisinger
        td(class="leader-board__score") 100 pt's
      tr
        td(class="leader-board__position") #10
        td(class="leader-board__player") Evandro Eisinger
        td(class="leader-board__score") 100 pt's
