section(id="ranking" class="section ranking")
  div(class="wrapper")
    h1(class="title") Classificação

    p(class="description")
      | A classificação é regerada de tempos em tempos, quando um determinado número
      | de novas submissões de código é atingido.

    p(class="description")
      | Quando isso acontece, todos os resultados das partidas, que envolvem 
      | participantes que submeteram novos códigos, serão zerados. Logo na sequência,
      | as partidas serão rodadas novamente, e o jogador terá a sua pontuação
      | atualizada.