section(id="ranking" class="section ranking")
  div(class="wrapper")
    h1(class="title") Classificação

    p(class="description")
      | A classicação é regerada de tempos em tempos, quando um número de novas
      | submissões é atingido, todas as partidas que envolvam participantes que
      | submeteram novos códigos serão zeradas e executadas novamente substituindo o
      | resultado anterior.

