doctype html
html
  head
    title='Ligue Quatro'

    meta(charset='UTF-8')
    meta(name='description' content='Baseado no jogo Ligue Quatro, o desafio é criar um algoritmo capaz de realizar a melhor jogada.')

    meta(itemprop='image' content='https//braziljs.globo.com/thumbnail.png')
    meta(name='twitter:image' content='https//braziljs.globo.com/thumbnail.png')
    meta(property='og:image' content='https//braziljs.globo.com/thumbnail.png')

    meta(itemprop='name' content='Ligue Quatro')
    meta(itemprop='description' content='Baseado no jogo Ligue Quatro, o desafio é criar um algoritmo capaz de realizar a melhor jogada.')

    meta(name='twitter:title' content='Ligue Quatro')
    meta(name='twitter:description' content='Baseado no jogo Ligue Quatro, o desafio é criar um algoritmo capaz de realizar a melhor jogada.')

    meta(property='og:title' content='Ligue Quatro')
    meta(property='og:description' content='Baseado no jogo Ligue Quatro, o desafio é criar um algoritmo capaz de realizar a melhor jogada.')
    meta(property='og:url' content='https://braziljs.globo.com')

    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='default')
    meta(name='viewport', content='initial-scale=1, width=device-width')

    link(href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet')
    link(href='styles/main.css', rel='stylesheet')

  body
    include sections/intro.jade
    include sections/about.jade
    include sections/rules.jade

    script(src='scripts/main.js')
