doctype html
html
  head
    title=tournament.texts.title

    meta(charset='UTF-8')
    meta(name='description' content='Baseado no jogo Ligue Quatro, o desafio é criar um algoritmo capaz de realizar a melhor jogada.')

    meta(itemprop='name' content='Ligue Quatro')
    meta(itemprop='description' content='Baseado no jogo Ligue Quatro, o desafio é criar um algoritmo capaz de realizar a melhor jogada.')

    meta(name='twitter:title' content='Ligue Quatro')
    meta(name='twitter:description' content='Baseado no jogo Ligue Quatro, o desafio é criar um algoritmo capaz de realizar a melhor jogada.')

    meta(property='og:title' content='Ligue Quatro')
    meta(property='og:description' content='Baseado no jogo Ligue Quatro, o desafio é criar um algoritmo capaz de realizar a melhor jogada.')

    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='default')
    meta(name='viewport', content='initial-scale=1, width=device-width')

    link(href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet')
    link(href='styles/main.css', rel='stylesheet')

  body
    aside(class="aside")
        include blocks/aside

    section(class='section')
        div(class='section-wrapper')
            h3(class="subtitle subtitle--divisor") Últimos jogos
            div(id="game-board" class="game-board")
            table(id='leader-board' class='leader-board')

    div(id="rules-content" class='dialog__content')
        include blocks/rules

    script(src='scripts/main.js')
