doctype html
html
  head
    title='Ligue Quatro'

    meta(charset='UTF-8')
    meta(name='viewport', content='initial-scale=1, width=device-width')
    link(href='//fonts.gstatic.com' rel='preconnect' crossorigin)
    link(href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet')
    link(href='styles/main.css', rel='stylesheet')

  body
    include sections/intro.jade
    include sections/about.jade
    include sections/rank.jade

    script(src='scripts/main.js')
