.game-board {
  width: 100%;
  margin: rem(35px) 0;
  padding-top: rem(35px);
  border-top: 1px solid $gray;
  color: $gray-strong;
  line-height: rem(42px);
  font-size: rem(22px);
  *zoom: 1;

  &:before, &:after {
    clear: both;
    content: " ";
    display: table;
  }
}

.game-board__position {
  list-style: none;
  display: block;
  position: relative;
  width: 11.25%;
  margin: 1.5%;
  float: left;
  border: 1px solid $gray;
  border-radius: 100%;
  box-sizing: border-box;

  &:after {
    content: "";
    display: block;
    margin-top: 100%;
  }
}
