section(id='about' class='section about')
  div(class='wrapper')
    h1(class='title') O que é?

    p(class='description')
      | Lorem ipsum dolor sit amet,
      | consectetur adipisicing elit,
      | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
      | ut aliquip ex ea commodo consequat.
      | Duis aute irure dolor in reprehenderit in voluptate velit ess

    h3(class='subtitle') Lorem ipsum dolor sit amet

    p(class='description')
      | Lorem ipsum dolor sit amet,
      | consectetur adipisicing elit,
      | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
      | ut aliquip ex ea commodo consequat.
      | Duis aute irure dolor in reprehenderit in voluptate velit ess

    h3(class='subtitle') Lorem lorem

    p(class='description')
      | Lorem ipsum dolor sit amet,
      | consectetur adipisicing elit,
      | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
      | ut aliquip ex ea commodo consequat.
      | Duis aute irure dolor in reprehenderit in voluptate velit ess

    form(class='editor')
      button(class='button block-button' title='Participe através do Github') Participe atravéz do github