section(id='intro' class='section intro')
  div(class='wrapper')
    h3(class='subtitle') Desafio Javascript

    h1(class='title') Ligue Quatro

    p(class='description')
      | Baseado no jogo Ligue Quatro,<br/>
      | o desafio é criar um algoritimo que seja<br/>
      | capaz de realizar a melhor jogada.

    nav(class='navigation')
      button(data-section='about' class='button navigation-button' title='O que é?') O que é?
      button(data-section='ranking' class='button navigation-button' title='Classificação') Classificação
