h3(class='subtitle') Desafio Javascript

h1(class='title')
  | Ligue </br>
  | Quatro

p(class='description')
  | O desafio é criar o algoritmo
  | que realize a melhor jogada.

h3(class='subtitle') O que é?

p(class='description')
  | É uma disputa entre algoritmos que jogam
  | o jogo de tabuleiro conhecido como
  a(href='https://pt.wikipedia.org/wiki/Lig_4' target='_blank' title='Saiba mais sobre o jogo neste link!')
    |  Ligue Quatro.

p(class='description')
  |  Construa o seu algoritmo e dispute pelo
  a(href='https://pt.wikipedia.org/wiki/Lig_4' id='reward-link' data-content-id='reward-content' target='_blank' title='Confira o que o vencedora irá ganhar clicando aqui!')
    |  prêmio
  |, mas antes, leia o
  a(href='https://pt.wikipedia.org/wiki/Lig_4' id='rules-link' data-content-id='rules-content' target='_blank' title='Veja como jogar e quais são as regras do desafio clicando aqui!')
    |  regulamento
  |  para entender como ele funciona.

button(class='button' onclick='document.location=\'/playground\'' title='Participe do desafio através do Github') Participe do desafio
//- button(class='button' disabled="disabled" title='O desafio já foi encerrado, aguarde a premiação!') Desafio encerrado