h1(class='title') Prêmio

p(class='description')
  | O prêmio ao vencedor é um e-reader Amazon Kindle Paperwhite, que será
  | entregue após a divulgação do resultado final.
  | Só poderão disputar o torneio, aqueles que estejam participando da conferência BrazilJS 2015.

p(class='description')
  | É vedada a participação de funcionários da Globo.com, bem como de seus familiares,
  | ou quaisquer pessoas envolvidas com a organização deste torneio, ainda que
  | indiretamente.
