h1(class='title') Regulamento

p(class='description')
  | A vitória neste jogo de tabuleiro é obtida quando se forma uma sequência
  | de 4 peças alinhadas na horizontal, vertical ou diagonal. Caso o tabuleiro
  | seja preenchido e nenhum dos jogadores formar uma sequência, a partida será
  | considerada empatada.

p(class='description')
  | O sistema de disputa é similar a um campeonato de pontos corridos, onde
  | todos os participantes disputam partidas com todos os outros participantes.

h3(class='subtitle')
  | Partidas e jogos

p(class='description')
  | Uma partida significa dez jogos entre os dois algoritmos. Dos dez
  | jogos, cada algoritmo inicia 5 vezes e nas outras 5 é o oponente. Exemplo: Uma
  | partida entre Algoritmo1 e Algoritmo2, pode acabar com vitória por 8x2, onde o
  | o Algoritmo1 teve oito vitórias entre os 10 jogos disputados e o Algoritmo2 teve duas. É
  | possível ocorrerem empates, tanto em um jogo, quanto em uma partida,
  | caso o número de jogos vencidos seja igual.

h3(class='subtitle')
  | Pontuação

p(class='description')
  | A cada partida, o algoritmo irá computar seus pontos na tabela do torneio,
  | onde uma vitória representa 3 pontos, empate 1 ponto e derrota 0
  | pontos. O resultado dos jogos de uma partida definiram o seu ganhador.
  | Se uma partida finalizada em 8x2, o Algoritmo1 que ganhou 8 jogos computará 3 pontos
  | e o Algoritmo2 que perdeu recebera 0 ponto. Caso ocorresse um empate ambos os algoritmos
  | computariam 1 ponto.
