h1(class='title') Regulamento

p(class='description')
  | A vitória neste jogo de tabuleiro é obtida quando se forma uma sequência
  | de 4 peças alinhadas na horizontal, vertical ou diagonal. Caso o tabuleiro
  | seja preenchido e nenhum dos jogadores formar uma sequência, a partida será
  | considerada empatada.

p(class='description')
  | O sistema de disputa é similar a um campeonato de pontos corridos, onde
  | todos os participantes disputam partidas com todos os outros participantes.

h3(class='subtitle')
  | Partidas e jogos

p(class='description')
  | Uma partida significa dez jogos entre os dois algoritmos. Dos dez
  | jogos, cada algoritmo inicia 5 vezes e nas outras 5 é o oponente. Exemplo: Uma
  | partida entre Algoritmo1 e Algoritmo2, pode acabar com vitória por 8x2, onde o
  | o Algoritmo1 teve oito vitórias entre os 10 jogos disputados e o Algoritmo2 teve duas. É
  | possível ocorrerem empates, tanto em um jogo, quanto em uma partida,
  | caso o número de jogos vencidos seja igual.

h3(class='subtitle')
  | Pontuação

p(class='description')
  | A cada partida, o algoritmo irá computar seus pontos na tabela do torneio,
  | onde uma vitória representa 3 pontos, empate 1 ponto e derrota 0
  | pontos. O resultado dos jogos de uma partida definiram o seu ganhador.
  | Se uma partida finalizada em 8x2, o Algoritmo1 que ganhou 8 jogos computara 3 pontos
  | e o Algoritmo2 que perdeu recebera 0 ponto. Caso ocorresse um empate ambos os algoritmos
  | computariam 1 ponto.

h3(class='subtitle')
  | Vencedor

p(class='description')
  | O vencedor do torneio será aquele que ao final de todas as partidas jogadas,
  | estiver com mais pontos. Em caso de igualdade na pontuação, serão usados
  | como critérios de desempate conforme a ordem que segue: 1) mais vitórias;
  | 2) maior número de "games" pró; 3) menor número de "games" contra.

p(class='description')
  | Em caso de dois ou mais participantes empatarem em todos os critérios, será
  | realizado um sorteio entre os empatados para definir o campeão do torneio.

p(class='description')
  | A organização do torneio irá averiguar se as submissões são honestas e
  | respeitem a esportividade do torneio. Qualquer tentativa de burlar o sistema
  | do torneio, submissões, classificação ou qualquer outro meio considerado
  | antidesportivo, a organização se dá o direito de, sem aviso prévio, desclassificar
  | o participanente respónsavel. Reforçamos o intuito educativo, esportivo
  | do torneio e respeito aos demais participantes.

h3(class='subtitle')
  | Submissões

p(class='description')
  | O torneio aceitará submissões de código durante todos os dias do evento.
  |  O participante poderá submeter o seu algoritmo múltiplas vezes, no entanto cada
  | submissão irá substituir a anterior.

p(class='description')
  | O encerramento das submissões será anunciada no próprio evento e
  |  a classificação final não será exibida no stand e nem no site.
  |  A organização realizará a última rodada das partidas, a
  | conferência da legitimidade dos algoritmos e a divulgação
  | do vencedor no encerramento do evento.

h3(class='subtitle')
  | Prêmio

p(class='description')
  | O prêmio ao vencedor é um e-reader Amazon Kindle Paperwhite, que será
  | entregue após a divulgação do resultado final.
  | Só poderão disputar o torneio, aqueles que estejam participando do evento.

p(class='description')
  | É vedada a participação de funcionários da Globo.com, bem como de seus familiares,
  | ou quaisquer pessoas envolvidas com a organização deste torneio, ainda que
  | indiretamente.
