<section id="about" class="section about">
  <div class="wrapper">
    <h1 class="title">O que é?</h1>

    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess.</p>

    <h3 class="subtitle">lorem lorem</h3>

    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess.</p>

    <h3 class="subtitle">lorem lorem</h3>
    <pre class="code">
<strong>var</strong> board = [
  [<strong>null, null, null, null, null, null</strong>],
  [<strong>null, null, null, null, null, null</strong>],
  [<strong>null, null, null, null, null, null</strong>],
  [<strong>null, null, null, null, null, null</strong>],
  [<strong>null, null, null, null, null, null</strong>],
  [<strong>null, null, null, null, null, null</strong>],
  [<strong>null, null, null, null, null, null</strong>],
];
</pre>

    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess.</p>
  </div>
</section>