<section id="participate" class="section participate">
  <div class="wrapper">
    <h1 class="title">Participe</h1>

    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>

    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>

    <form class="editor">
      <button class="button github-button" title="Participe através do Github">Participe atravéz do github</button>
    </form>

    <div class="game-board">
      <ul class="game-board__positions">
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>

        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>

        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>

        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>

        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>

        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
      </ul>
    </div>
  </div>
</section>