<section class="section ranking">
  <div class="wrapper">
    <h1 class="title">Classificação</h1>

    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess.</p>

    <h3 class="subtitle">Melhores algoritimos</h3>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.</p>

    <div class="game-board">

    </div>

    <table class="leader-board">
      <tr>
        <td class="leader-board__position">#1</td>
        <td class="leader-board__player">Evandro Eisinger</td>
        <td class="leader-board__score">120 pt's</td>
      </tr>
      <tr>
        <td class="leader-board__position">#2</td>
        <td class="leader-board__player">Evandro Eisinger</td>
        <td class="leader-board__score">120 pt's</td>
      </tr>
      <tr>
        <td class="leader-board__position">#3</td>
        <td class="leader-board__player">Evandro Eisinger</td>
        <td class="leader-board__score">120 pt's</td>
      </tr>
      <tr>
        <td class="leader-board__position">#4</td>
        <td class="leader-board__player">Evandro Eisinger</td>
        <td class="leader-board__score">120 pt's</td>
      </tr>
      <tr>
        <td class="leader-board__position">#5</td>
        <td class="leader-board__player">Evandro Eisinger</td>
        <td class="leader-board__score">120 pt's</td>
      </tr>
      <tr>
        <td class="leader-board__position">#6</td>
        <td class="leader-board__player">Evandro Eisinger</td>
        <td class="leader-board__score">120 pt's</td>
      </tr>
      <tr>
        <td class="leader-board__position">#7</td>
        <td class="leader-board__player">Evandro Eisinger</td>
        <td class="leader-board__score">120 pt's</td>
      </tr>
    </table>
  </div>
</section>
