<section class="section ranking">
  <div class="wrapper">
    <h1 class="title">Classificação</h1>

    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess.</p>

    <h3 class="subtitle">Melhores algoritimos</h3>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.</p>

    <div class="game-board home-player-lose">
      <h1 class="game-board__loading subtitle">Preparando algoritimos...</h1>

      <div class="game-board__players">
        <div class="game-board__home-player">
          <span class="game-board__player-name">Evandro Eisinger</span>
          <span class="game-board__player-info">#1 lugar, 123pt's</span>
        </div>

        <div class="game-board__guest-player">
          <span class="game-board__player-name">Evandro Eisinger</span>
          <span class="game-board__player-info">#2 lugar, 123pt's</span>
        </div>
      </div>

      <ul class="game-board__positions">
        <li class="game-board__position home-play"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position guest-play"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>

        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>

        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>

        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>

        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>

        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
        <li class="game-board__position"></li>
      </ul>
    </div>

    <h3 class="subtitle">Melhores algoritimos</h3>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.</p>

    <table class="leader-board">
      <tr>
        <td class="leader-board__position">#1</td>
        <td class="leader-board__player">Evandro Eisinger</td>
        <td class="leader-board__score">120 pt's</td>
      </tr>
      <tr>
        <td class="leader-board__position">#2</td>
        <td class="leader-board__player">Evandro Eisinger</td>
        <td class="leader-board__score">120 pt's</td>
      </tr>
      <tr>
        <td class="leader-board__position">#3</td>
        <td class="leader-board__player">Evandro Eisinger</td>
        <td class="leader-board__score">120 pt's</td>
      </tr>
      <tr>
        <td class="leader-board__position">#4</td>
        <td class="leader-board__player">Evandro Eisinger</td>
        <td class="leader-board__score">120 pt's</td>
      </tr>
      <tr>
        <td class="leader-board__position">#5</td>
        <td class="leader-board__player">Evandro Eisinger</td>
        <td class="leader-board__score">120 pt's</td>
      </tr>
      <tr>
        <td class="leader-board__position">#6</td>
        <td class="leader-board__player">Evandro Eisinger</td>
        <td class="leader-board__score">120 pt's</td>
      </tr>
      <tr>
        <td class="leader-board__position">#7</td>
        <td class="leader-board__player">Evandro Eisinger</td>
        <td class="leader-board__score">120 pt's</td>
      </tr>
    </table>
  </div>
</section>
