.section {
  position: relative;
  width: 100%;
  min-height: 100%;

  @include animation(fadeIn 2s);
}

.wrapper {
  padding: 5%;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: rem(780px);
  min-width: rem(320px);
}

.navigation {
  text-align: center;
}

.code {
  margin: rem(35px) 0;
  padding: rem(35px) 0;
  border: 1px solid $gray;
  border-left: 0;
  border-right: 0;
  overflow-x: auto;
}
