.playground-sidebar {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: rem(300px);
  box-sizing: border-box;
  padding: 0 rem(35px);
  z-index: 999;
  overflow-y: auto;

  @media screen and (max-width: 720px) {
    position: initial;
    left: initial;
    bottom: initial;
    top: initial;
    width: 100%;
    padding: rem(35px);
  }
}

.playground-sidebar .title {
  font-size: rem(42px);
  line-height: rem(42px);
  margin: rem(25px) 0;
}

.playground-sidebar .subtitle {
  color: $black;
}

.playground-sidebar .description {
  font-size: rem(18px);
  line-height: rem(24px);
  margin: rem(25px) 0;
}

.playground-sidebar .button {
  display: block;
  width: 100%;
  margin: rem(25px) 0;
  padding: rem(15px) 0;
}

.playground-sidebar a:hover {
  color: white;
}

.playground-textarea {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  box-sizing: border-box;
  padding: rem(35px);
  right: 0;
  z-index: 0;
  font-size: rem(18px);
  line-height: rem(22px);
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  outline: none;

  @media screen and (max-width: 720px) {
    position: initial;
    left: initial;
    bottom: initial;
    top: initial;
    width: 100%;
    height: 500px;
  }
}

.playground__last-save-button,
.playground__reset-button,
.playground__close-test-button {
  position: fixed;
  bottom: rem(35px);
  right: rem(35px);
  z-index: 2;
  background-color: white;

  @media screen and (max-width: 720px) {
    position: absolute;
  }
}

.playground__last-save-button {
  right: rem(215px);
}

.playground-editor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
  z-index: 10;
  border-left: rem(300px) solid $yellow;
  box-sizing: border-box;

  @media screen and (max-width: 720px) {
    position: initial;
    left: initial;
    bottom: initial;
    top: initial;
    width: 100%;
    height: 500px;
    border: 0;
  }
}

.playground-test-board {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999;
  overflow-y: auto;

  @include animation(fadeIn .5s);
}

.playground-test-board .game-board {
  border: 0;
  width: 100%;
  margin: 0 auto;
  padding: rem(35px) rem(35px) rem(115px) rem(35px);
  max-width: rem(720px);
  box-sizing: border-box;
}

.playground-test-logs {
  border-top: 1px solid black;
  margin: rem(35px) 0 0 0;
  padding: rem(35px) 0 0 0;
}

.playground-test-logs li {
  font-size: rem(25px);
  line-height: rem(32px);
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  list-style-type: decimal;
  list-style-position: inside;
}
