.button {
  border: 1px solid $black;
  color: $black;
  text-align: center;
  text-transform: uppercase;
  font-size: rem(16px);
  font-weight: 400;
  line-height: rem(16px);
  letter-spacing: rem(2px);
  padding: rem(15px) rem(25px);
  border-radius: rem(5px);
  margin: 0 rem(15px);
  box-sizing: border-box;

  @include transition(background-color .5s ease-in-out);

  @media screen and (max-width: 420px) {
    margin: rem(10px);
  }
}

.button:hover, .button--black {
  color: white;
  background-color: $black;
}

.block-button {
  width: 100%;
  margin: rem(35px) 0;
  display: block;
  border: 1px solid $black;
  background-color: $black;
  color: $gray-strong;
  text-decoration: none;
  line-height: rem(18px);

  @include transition(color .25s ease-in-out);
}

.block-button:hover {
  color: white;
}