<!DOCTYPE html>

<html>
  <head>
    <title>Ligue Quatro - Desafio Javascript</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
    <link href="styles/main.css" rel="stylesheet">
  </head>

  <body>

    <!-- intro section -->
    {{> sections/intro.html}}

    <!-- about section -->
    {{> sections/about.html}}

    <!-- participate section -->
    {{> sections/participate.html}}

    <!-- ranking section -->
    {{> sections/ranking.html}}

    <script src="scripts/main.js"></script>
  </body>
</html>
